.row{
    padding: 20px;
    color:white;
}
.contenedor{
    width: auto;
    color:white;
    padding: 20px;
}

.izquierda,.derecha{
    display: inline-block;
    text-align: justify;

}
#texto{
    padding-top: 10px;
}
#izquierda{
    padding-bottom: 10px;
}