<div class="row bg-success" align="center">
 <div class="row" id="hard"><h2> Hard Skills</h2></div>
    <div class="row" id="shard">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <circle-progress
           [percent]="85"
            [radius]="70"
            [showImage]="true"
            [imageSrc]="'../../../assets/HTML5.png'"
            [imageWidth]="70"
            [imageHeight]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            [showSubtitle]="false"
            ></circle-progress>
     </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="65"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/css.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
   </div>
   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="90"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/PHP.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="80"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/bootstrap.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="30"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/angular.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
    </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="80"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/Sql.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
        </div>
    </div><!--fin row hard skills-->
  
    <div class="row" id="hard"><h2> Soft Skills</h2></div> 
    <div class="row" id="ssoft">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="85"
        [radius]="70"
        [imageSrc]="'../../../assets/actitudpositiva.png'"
        [showImage]="true"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
        <h5>Actitud Positiva</h5>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="65"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/mediacion.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
        <h5>Mediación</h5>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="90"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/escuchaactiva.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
        <h5>Escucha Activa</h5>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="80"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/autocontrol.jpg'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
        <h5>Auto control</h5>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="30"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/comunicacionclara.jpg'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
        <h5>Comunicación Clara</h5>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
            <circle-progress
        [percent]="80"
        [radius]="70"
        [showImage]="true"
        [imageSrc]="'../../../assets/trabajoenequipo.png'"
        [imageWidth]="70"
        [imageHeight]="70"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        ></circle-progress>
        <h5>Trabajo en Equipo</h5>
        </div>    
    </div><!--fin row skils soft-->
</div><!--fin row skils-->