<div class="row bg-success"> 
<h3>Experiencia Laboral</h3>

    <div class="col-lg-12">
        <ul>
            <li>
                <h4>Trabajo 1</h4> - <h5>Años</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ad ipsa non error, similique doloribus tempora earum ipsum reiciendis dicta sapiente dignissimos quas minima sint vitae excepturi iure architecto? Veniam.</p>
            </li>
            <li>
                <h4>Trabajo 2</h4> - <h5>Años</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda nam dignissimos vitae facere repellat neque, perspiciatis voluptates sint inventore expedita laboriosam velit suscipit accusantium! Soluta numquam ut quidem et maiores.</p>
            </li>
        </ul>
    </div>
</div>

