<div class="row bg-success"> 
    <h3>Estudios</h3>
    
        <div class="col-lg-12">
            <ul>
                <li>
                    <h4>Estudio 1</h4> - <h5>Años</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis saepe porro beatae? Quibusdam, eveniet. Cumque assumenda commodi hic laborum accusantium praesentium quas asperiores ullam porro, eius iste! Exercitationem, voluptatem unde?</p>
                </li>
                <li>
                    <h4>Estudio 2</h4> - <h5>Años</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero similique, esse soluta cum eaque quod blanditiis enim est corporis distinctio quam dolorem optio quisquam a, cumque ex commodi consequatur!</p>
                </li>
            </ul>
        </div>
    </div>
    
