<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->



<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-1 col-xs-1"></div>
    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10">
<div class="container bg-info">

	<form class="form-signin">
        
		<h1 class="form-signin-heading">Ingreso </h1>
    

		<input type="text" class="form-control" placeholder="Ingrese un e-mail" required="" >
       
       
		<input type="password" class="form-control" placeholder="Ingrese la clave" required="">
  
        <div class="row" align="center">
     
		<button class="btn btn-lg btn-outline-danger" type="submit">
			Aceptar
		</button>
   
</div>
    
	</form>

</div></div></div>
